
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stackoverflows</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/metismenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/editor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static '/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
  </head>
  <body>



   <header class="header">
     <div class="navbar-area">
      <div class="mobile-responsive-nav">
        <div class="container">
          <div class="mobile-responsive-menu">
            <div class="logo">
              <a href="index.html">
                <img src="/assets/images/logo.png" alt="logo">
                
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="desktop-nav">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
              StackoverFlow
            </a>

            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a href="/" class="nav-link active">
                    Home 
                  </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle">
                    Account            
                  </a>

                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="{% url 'allque' %}" class="nav-link">View Question</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'addquestion' %}" class="nav-link">Add Question</a>
                    </li>
                  </ul>
                </li>
                 {% endif %}

                

                
              </ul>

              <div class="others-options">
                <ul>
                  
                  <li>
                  
                  {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="active">
                      Log out
                    </a>
                     {% else %}
                     <a href="{% url 'login' %}" class="active">
                      Log in  
                    </a>
                  {% endif %}
                  </li>
                    {% if user.is_authenticated %}
                 
                 {% else%}
                  <li>
                    <a href="{% url 'signup' %}">
                      Sign up
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="others-option-for-responsive">
        <div class="container">
          <div class="dot-menu">
            <div class="inner">
              <div class="circle circle-one"></div>
              <div class="circle circle-two"></div>
              <div class="circle circle-three"></div>
            </div>
          </div>
          
          <div class="container">
            <div class="option-inner">
              <div class="others-options justify-content-center d-flex align-items-center">
                <ul>
                  <li>
                    <form class="search-box">
                      <input type="text" name="Search" placeholder="Search for..." class="form-control">
                  
                      <button type="submit" class="search-btn">
                        <i class="ri-search-line"></i>
                      </button>
                    </form>
                  </li>
                  <li>
                    <a href="log-in.html" data-bs-toggle="modal" data-bs-target="#exampleModal-3" class="active">
                      Log in  
                    </a>
                  </li>
                  <li>
                    <a href="sign-up.html" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
                      Sign up
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>


{%  block  content%}
    {{ request.path }}  
{{ request.get_full_path }}  
    {%  endblock%}

    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/js/meanmenu.min.js' %}"></script>
    <script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/assets/js/form-validator.min.js' %}"></script>
    <script src="{% static '/assets/js/contact-form-script.js' %}"></script>
    <script src="{% static '/assets/js/ajaxchimp.min.js' %}"></script>
    <script src="{% static '/assets/js/metismenu.js' %}"></script>
    <script src="{% static '/assets/js/editor.js' %}"></script>
    <script src="{% static '/assets/js/like-dislike.min.js' %}"></script>
    <script src="{% static '/assets/js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static '/custom.js' %}"></script>
  </body>
</html>

