{% extends 'base.html' %}


{% block content %}


   <section class="banner-1">

    <div class="main-content-area ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="sidebar-menu-wrap">
              <div class="sidemenu-wrap d-flex justify-content-between align-items-center">
                <h3>Pify Sidebar Menu</h3>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  <i class="ri-menu-line"></i>
                </button>
              </div>
                
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="left-sidebar">
                    <nav class="sidebar-nav" data-simplebar="">
                      <ul id="sidebar-menu" class="sidebar-menu metismenu">
                        <li class="mm-active">
                          <a href="/" class="box-style active" aria-expanded="true">
                            <span class="menu-title">
                              <i class="ri-home-8-line"></i>
                              Home
                            </span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="has-arrow box-style" aria-expanded="false">
                            <i class="ri-question-line"></i>
                            <span class="menu-title">
                              Questions
                            </span>
                          </a>
                          <ul class="sidemenu-nav-second-level mm-collapse">
                            <li>
                              <a href="#">
                                <span class="menu-title">All questions</span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <span class="menu-title">questions details</span>
                              </a>
                            </li>
                          </ul>
                        </li> 
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="middull-content">
              

              <ul class="nav nav-tabs questions-tabs d-flex justify-content-between" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="recent-questions-tab" data-bs-toggle="tab" data-bs-target="#recent-questions" type="button" role="tab" aria-controls="recent-questions" aria-selected="false">
                    Recent Questions
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link " id="most-answered-tab" data-bs-toggle="tab" data-bs-target="#most-answered" type="button" role="tab" aria-controls="most-answered" aria-selected="true">
                    Most Answered 
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="unanswered-question-tab" data-bs-toggle="tab" data-bs-target="#unanswered-question" type="button" role="tab" aria-controls="unanswered-question" aria-selected="false">
                    Unanswered Question
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="featured-question-tab" data-bs-toggle="tab" data-bs-target="#featured-question" type="button" role="tab" aria-controls="featured-question" aria-selected="false">
                    Featured Question
                  </button>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">

                  {% for Allquestion in Allquestions %}  
                  <div class="single-qa-box like-dislike">
                    <div class="d-flex">
                      <div class="link-unlike flex-shrink-0">
                        <a href="#">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Image">
                        </a>

                        <div class="donet-like-list">
                          <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>{{Allquestion.votecount}}</span>
                          </button>
                        </div>

                        <div class="donet-like-list">
                          <button class="like-unlink-count dislike">
                          <i class="ri-thumb-down-fill"></i>
                            <span>{{Allquestion.dislike}}</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <ul class="graphic-design">
                          <li>
                            <a href="#">{{Allquestion.username}}</a>
                          </li>
                        </ul>

                        <h3>
                          <a href="#">
                           {{Allquestion.question}}
                          </a>
                        </h3>

                        <p> {{Allquestion.question_des}}</p>

                        {{Allquestion.tags}}
                     <div class="d-flex justify-content-between align-items-center">
                          <ul class="anser-list">
                            <li>
                              <a href="#">
                                {{Allquestion.votecount}} Vote
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                1 Answer
                              </a>
                            </li>
                            
                          </ul>

                         
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>

                <div class="tab-pane fade" id="most-answered" role="tabpanel" aria-labelledby="most-answered-tab">
                  {% for Allquestion in Allquestions %}  
                  <div class="single-qa-box like-dislike">
                    <div class="d-flex">
                      <div class="link-unlike flex-shrink-0">
                        <a href="#">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Image">
                        </a>

                        <div class="donet-like-list">
                          <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>{{Allquestion.votecount}}</span>
                          </button>
                        </div>

                        <div class="donet-like-list">
                          <button class="like-unlink-count dislike">
                          <i class="ri-thumb-down-fill"></i>
                            <span>{{Allquestion.dislike}}</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <ul class="graphic-design">
                          <li>
                            <a href="#">{{Allquestion.username}}</a>
                          </li>
                        </ul>

                        <h3>
                          <a href="#">
                           {{Allquestion.question}}
                          </a>
                        </h3>

                        <p> {{Allquestion.question_des}}</p>

                        {{Allquestion.tags}}
                     <div class="d-flex justify-content-between align-items-center">
                          <ul class="anser-list">
                            <li>
                              <a href="#">
                                {{Allquestion.votecount}} Vote
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                1 Answer
                              </a>
                            </li>
                            
                          </ul>

                         
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="tab-pane fade" id="unanswered-question" role="tabpanel" aria-labelledby="unanswered-question-tab">
                   {% for Allquestion in Allquestions %}  
                  <div class="single-qa-box like-dislike">
                    <div class="d-flex">
                      <div class="link-unlike flex-shrink-0">
                        <a href="#">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Image">
                        </a>

                        <div class="donet-like-list">
                          <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>{{Allquestion.votecount}}</span>
                          </button>
                        </div>

                        <div class="donet-like-list">
                          <button class="like-unlink-count dislike">
                          <i class="ri-thumb-down-fill"></i>
                            <span>{{Allquestion.dislike}}</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <ul class="graphic-design">
                          <li>
                            <a href="#">{{Allquestion.username}}</a>
                          </li>
                        </ul>

                        <h3>
                          <a href="#">
                           {{Allquestion.question}}
                          </a>
                        </h3>

                        <p> {{Allquestion.question_des}}</p>

                        {{Allquestion.tags}}
                     <div class="d-flex justify-content-between align-items-center">
                          <ul class="anser-list">
                            <li>
                              <a href="#">
                                {{Allquestion.votecount}} Vote
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                1 Answer
                              </a>
                            </li>
                            
                          </ul>

                         
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="tab-pane fade" id="featured-question" role="tabpanel" aria-labelledby="featured-question-tab">
               
                    {% for Allquestion in Allquestions %}  
                  <div class="single-qa-box like-dislike">
                    <div class="d-flex">
                      <div class="link-unlike flex-shrink-0">
                        <a href="#">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Image">
                        </a>

                        <div class="donet-like-list">
                          <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>{{Allquestion.votecount}}</span>
                          </button>
                        </div>

                        <div class="donet-like-list">
                          <button class="like-unlink-count dislike">
                          <i class="ri-thumb-down-fill"></i>
                            <span>{{Allquestion.dislike}}</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <ul class="graphic-design">
                          <li>
                            <a href="#">{{Allquestion.username}}</a>
                          </li>
                        </ul>

                        <h3>
                          <a href="#">
                           {{Allquestion.question}}
                          </a>
                        </h3>

                        <p> {{Allquestion.question_des}}</p>

                        {{Allquestion.tags}}
                     <div class="d-flex justify-content-between align-items-center">
                          <ul class="anser-list">
                            <li>
                              <a href="#">
                                {{Allquestion.votecount}} Vote
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                1 Answer
                              </a>
                            </li>
                            
                          </ul>

                         
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="right-siderbar">
              <div class="right-siderbar-common">
                <a href="#l" class="default-btn">
                  Ask a question
                </a>
              </div>

              

              <div class="right-siderbar-common">
                <div class="discussions">
                  <h3>
                    <i class="ri-speaker-line"></i>
                    Top Discussions
                  </h3>

                  <ul>
                    <li>
                      <a href="#">
                        The idea of how I will share my profile on social sites
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Discuss the rules for maintaining all the employees in the company
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        The best way to choose between a job and a business
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Which is the most important UIUX in terms of design?
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              

              <div class="right-siderbar-common">
                <div class="recent-post">
                  <h3>
                    <i class="ri-discuss-line"></i>
                    Recent post
                  </h3>

                  <ul>
                    <li>
                      <a href="#">
                        What could be UX design software?
                      </a>
                      <p>8 hours ago by <a href="#">Alan Woodson</a></p>
                    </li>
                    <li>
                      <a href="#">
                        All the new features that have been used in Windows 11
                      </a>
                      <p>11 hours ago by <a href="#">Juan McPhail</a></p>
                    </li>
                    <li>
                      <a href="#">
                        What is the most important thing in learning design?
                      </a>
                      <p>11 hours ago by <a href="#">Vickie White</a></p>
                    </li>
                    <li>
                      <a href="#">
                        Which language is the most popular in the web right now?
                      </a>
                      <p>13 hours ago by <a href="#">Jose Merz</a></p>
                    </li>
                  </ul>
                </div>
              </div>

              

              

              
            </div>
          </div>
        </div>
      </div>
    </div>
      </section>

{% endblock %}