{% extends 'base.html' %}


{% block content %}


   <section class="banner">
      <div class="container">
        
        <div class="banner-content">
          <div class="banner-text">
            <h1>Find the perfect freelance services for your business</h1>
            <p>Work with talented people at the most affordable price to get the most out of your time and cost</p>
          </div>
            <div class="banner-search">
              <div class="search-inner">
                <form method="post" action="" class="search-form">
                  <input placeholder="What are you looking for?" type="text" name="keyword" class="form-control" >
                  <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  <input type="submit" class="btn btn-danger" name="search" value="search">
                </form>
              </div>
          </div>

          
          
        </div>

      </div>
      
    </section>


    <section class="home-second mt-5">
      
      <div class="container">
        <h2 class="sec-title">Need something done?</h2>
        <p class="sec-subtitle">Most viewed and all-time top-selling services</p>
      

      <div class="row">
        <div class="col-md-3 mt-5 mb-5">
          <div class="services-blub">
            <i class="fa-solid fa-image-portrait"></i>
            <h3 class="mt-2 mb-2">Post a job</h3>
            <p class="mt-2 mb-2">It’s free and easy to post a job. Simply fill in a title, description.</p>
          </div>
        </div>

        <div class="col-md-3 mt-5 mb-5">
          <div class="services-blub">
            <i class="fa-solid fa-laptop-code"></i>
            <h3 class="mt-2 mb-2">Choose freelancers</h3>
            <p class="mt-2 mb-2">It’s free and easy to post a job. Simply fill in a title, description.</p>
          </div>
        </div>


        <div class="col-md-3 mt-5 mb-5">
          <div class="services-blub">
            <i class="fa-brands fa-cc-apple-pay"></i>
            <h3 class="mt-2 mb-2">Pay safely</h3>
            <p class="mt-2 mb-2">It’s free and easy to post a job. Simply fill in a title, description.</p>
          </div>
        </div>


        <div class="col-md-3 mt-5 mb-5">
          <div class="services-blub">
            <i class="fa-solid fa-handshake-angle"></i>
            <h3 class="mt-2 mb-2">We’re here to help</h3>
            <p class="mt-2 mb-2">It’s free and easy to post a job. Simply fill in a title, description.</p>
          </div>
        </div>
      </div>
</div>
    </section>


    <section class="home-third mt-5">
      
      <div class="container">
        <h2 class="sec-title">Browse talent by category</h2>
        <p class="sec-subtitle">Get some Inspirations from 1800+ skills</p>
      

      <div id="owl-demo1" class="owl-carousel owl-theme">
                
        {% for Allposts in Allposts %}
        <div class="item">
          
          <div class="card" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="36%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            <div class="card-body">
              <h5 class="card-title">{{Allposts.post_title}}</h5>
              <p class="card-text">{{Allposts.post_content | truncatechars:90}}</p>
              <a href="#" class="btn btn-primary">View Details</a>
            </div>
          </div>
          
        </div>
        {% endfor %}
       
        
      </div>

      </div>

    </section>


     <section class="home-fourth mt-5">
      
      <div class="container">
        <h2 class="sec-title">Highest Rated Freelancers</h2>
        <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur.</p>

        <div id="owl-demo2" class="owl-carousel owl-theme">
                
        <div class="item"><img src="assets/owl1.jpg" alt="Owl Image"></div>
        <div class="item"><img src="assets/owl1.jpg" alt="Owl Image"></div>
        <div class="item"><img src="assets/owl1.jpg" alt="Owl Image"></div>
        <div class="item"><img src="assets/owl1.jpg" alt="Owl Image"></div>
        <div class="item"><img src="assets/owl1.jpg" alt="Owl Image"></div>
        
      </div>
      </div>

    </section>

{% endblock %}