{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
      {% for Question in viewAllquestions %}
          {% include 'message.html' %}
     <div class="single-qa-box like-dislike">
                    <div class="d-flex">
                      <div class="link-unlike flex-shrink-0">
                        <a href="user.html">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Image">
                        </a>

                        <div class="donet-like-list">
                          <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>0</span>
                          </button>
                        </div>

                        <div class="donet-like-list">
                          <button class="like-unlink-count dislike">
                          <i class="ri-thumb-down-fill"></i>
                            <span>0</span>
                          </button>
                        </div>
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <ul class="graphic-design">
                          <li>
                            <a href="#">{{Question.username}}</a>
                          </li>
                        </ul>

                        <h3>
                          <a href="queations-details.html">
                          {{Question.question}}
                          </a>
                        </h3>

                        <p>   {{Question.question_des}}</p>

                       {{Question.tags}}
                     <div class="d-flex justify-content-between align-items-center">
                          <ul class="anser-list">
                            <li>
                              <a href="#">
                                {{Question.votecount}} Vote
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                1 Answer
                              </a>
                            </li>
                            
                          </ul>

                         
                        </div>

                        <div class="curd-btn">
                          <a href="/update/{{Question.id}}" class="btn btn-success custom-btn-s"> Update</a>
                          <a href="/delete/{{Question.id}}" class="btn btn-danger"> Delete</a>

                        </div>

                      </div>
                    </div>
                  </div>
      {% endfor %}
   </div>
      
      
{% endblock %}